.hero__container {
  max-width: 760px;
  // max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 768px) {
    position: relative;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 44px;
    max-width: 704px;
  }

  @media screen and (max-width: 1279px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 159px;
    gap: 40px;
    max-width: 1280px;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #2c2c2c;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 570px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 502px;
  }
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2c2c2c;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 502px;
  }
}
