.hero__container {
    position: relative;
    padding-top: 159px;
}

.hero__title {
    max-width: 502px;
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #2C2C2C;
}

.hero__text {
    max-width: 502px;
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2C2C2C;
}

.salat {
    position: absolute;
    top: 14px;
    right: 16px;
}

.salat__wrap {
    position: relative;
}

.salat__img {
    border-radius: 50%;
    border: 26px solid #FFE550;
}

.salat__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 40px;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border: transparent;
}

.salat__button--left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-25%, -50%)
}

.salat__button--right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(25%, -50%)
}

.salat__svg--rotate {
    transform: rotate(180deg);
}