.button {
  width: 98px;
  height: 32px;
  // padding: 6px 18px;
  // по фигме 18
  padding: 6px 16px;

  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: center;

  color: #2c2c2c;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #bbf330;
  border: transparent;
  border-radius: 30px;

  &:hover,
  &:focus {
    background-color: #ffe450;
    cursor: pointer;
  }
}
